
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Raleway:wght@300&family=Ubuntu:wght@400;700&display=swap');

*{
  font-family: 'Kalam', cursive;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.header{
  font-family: 'Kalam', cursive;
  color: #fffacf;
  font-size: 45px;
}

h1{
  font-family: 'Ubuntu', sans-serif;
  color: #fffacf;
  font-size: 50px;
}

h2{
  font-family: 'Kalam', cursive;
  color: #fffacf;
  font-size: 45px;
}

.blocky{
  font-family: 'Ubuntu', sans-serif;
}

.markdown-section{
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
}

.shadow-dark{
  text-shadow: 0px 2px 2px rgba(47, 47, 47, 1);
}

.shadow-light{
  text-shadow: 0px 2px 2px rgba(249, 247, 241, 1);
}

.highlight{
  background-color: #FFF380;
}

link{
  color: #16E9AC !important;
}

.light{
  color: #f9f7f1;
}

.small{
  font-size: 12px;
}

.big{
  font-size: 70px;
}

.footer{
  font-size: 12px;
  position: fixed;
  width: 100%;
  bottom: 5px;
}

.dark{
  color: #500050;
}

.tab-panel {
  background-color: #ffffff;
}
